spring:
  main:
    allow-bean-definition-overriding: true
  config:
    import: optional:application-${spring.profiles.active}.yml
  application:
    name: nextra-core
  profiles:
    active: dev

  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    serialization:
      indent_output: true

  jpa:
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        jdbc.lob.non_contextual_creation: true
    show-sql: false

logging:
  level:
    root: INFO
    com.nextra: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%X{traceId}] %-5level %logger{36} - %msg%n"

server:
  port: 8080
