spring:
  application:
    name: nextra-re
  profiles:
    active: dev
  main:
    allow-bean-definition-overriding: true
  jpa:
    properties:
      hibernate.jdbc.batch_size: 50
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.query.fail_on_pagination_over_collection_fetch: true
    open-in-view: false
